@model TicketsLostPastDue.Models.ViewModelTicketDetail
   

<div>
    <h4>Ticket Detail and Additional Inspections</h4>
  
   


    <fieldset>
        <div class="editor-label">
            <div class="col-md-12 col-xs-12">
               <table class="col-md-12 col-xs-12">
                   <tr>
                       <td >
                     <label class=" control-label col-md-3 col-xs-3" for="ticketnumber">Ticket Number: </label>
                     <input class="col-md-3 col-xs-3" id="ticketnumber" readonly value="@Model.apit.TicketNumber" />
                    @*//       @Html.LabelFor(m => m.apit.TicketNumber);
                       @Html.DisplayFor(m => m.apit.TicketNumber);*@
                      </td>
              
            
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="sitenumber">Site Number:</label>
                           <input class="col-md-3 col-xs-3" id="sitenumber" readonly value="@Model.apit.Site.SiteNumber" />
                       </td>
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="customernumber">Customer Number:</label>
                           <input class="col-md-3 col-xs-3" id="customernumber" readonly value="@Model.apit.CustomerNumber" />
                       </td>
               </tr>
                  
               <tr>
                       <td>
                           <label class="control-label  col-md-3 col-xs-3" for="sitename">Site Name:</label>
                            <input class=" col-md-3 col-xs-3"id="sitename" readonly value="@Model.apit.SiteName" />
                        </td>
                       <td>
                               <label class="control-label  col-md-3 col-xs-3" for="address">Address:</label>
                               <input class="col-md-9 col-xs-9" id="address" readonly style="width:500px" value=" @Model.apit.Site.Address1.Trim()  @Model.apit.Site.City.Trim() , @Model.apit.Site.State   @Model.apit.Site.Zip"/>
                       </td>
               </tr>
                  <tr>
                       <td>
                           <label class="control-label  col-md-3 col-xs-3" for="system">System:</label>
                           <input id="system" class=" col-md-3 col-xs-3" readonly value="@Model.apit.System" />  
                       </td>
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="routecode">Route:</label>
                           <input id="routecode" class="col-md-3 col-xs-3" readonly value="@Model.apit.RouteCode" />
                       </td>
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="quantity">Quantity:</label>
                           <input id="quantitiy" class="col-md-3 col-xs-3" readonly value="@Model.apit.System.AlarmAccount" />
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="technician">Technician</label>
                          <input id="technician" class="col-md-3 col-xs-3" readonly value="@Model.apit.ServiceTechCode" />
                           
                       </td>
                   </tr>
            </table>
       
          
            <div class="row col-xs-4 col-md-4" style="display: none">

                @Model.apit.CustomerSiteId
            
            </div>
          </div>
            
        </div>
    


    </fieldset>
</div>

