@model TicketsLostPastDue.Models.ViewModelTicketDetail

<div>
    <h4>Ticket Detail and Additional Inspections</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>


    <fieldset>
        <div class="editor-label">
            <div class="col-md-12 col-xs-12">
               <table class="col-md-12 col-xs-12">
                   <tr>
                       <td >
                     <label class=" control-label" for="ticketnumber">Ticket Number: </label>
                     <input id="ticketnumber" readonly value="@Model.apit.TicketNumber" />
                       
                </td>
              
            
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="sitenumber">Site Number:</label>
                           <input class="col-md-3 col-xs-3" id="sitenumber" readonly value="@Model.apit.Site.SiteNumber" />
                       </td>
                       <td>
                           <label class="control-label col-md-3 col-xs-3" for="customernumber">Customer Number:</label>
                           <input class="col-md-3 col-xs-3" id="customernumber" readonly value="@Model.apit.CustomerNumber" />
                       </td>
               </tr>
                   @*<div class="form-group">
                       <label class="control-label col-xs-3 col-md-3" for="rsgnprospemailretired">Email</label>
                       <div class="col-xs-3 col-md-3">
                           <input id="rsgnprospemailretired" type="email" readonly name="rsgnprospemailretired" />
                       </div>
                   </div>*@
           <tr>
               <td>
                <label class="control-label" for="sitename">Site Name:</label>
               <input id="sitename" readonly value="@Model.apit.SiteName" />
            </td>
            <td>
                <label class="control-label" for="address">Address:</label>
              <input id="address" readonly style="width:500px" value=" @Model.apit.Site.Address1.Trim()  @Model.apit.Site.City.Trim() , @Model.apit.Site.State   @Model.apit.Site.Zip"/>
            </td>
            </tr>
            </table>
            <div class="row col-xs-4 col-md-4">
                <label>System:</label>
                @Model.apit.System.SystemCode
            </div>
            <div class="row col-xs-4 col-md-4">
                <label>Route:</label>
                @Model.apit.RouteCode
            </div>
            <div class="row col-xs-4 col-md-4">
                <label>Quantity:</label>
                @Model.apit.System.AlarmAccount
            </div>
            <div class="row col-xs-4 col-md-4">
                <label>Technician</label>
                @Model.apit.ServiceTechCode
            </div>
            <div class="row col-xs-4 col-md-4" style="display: none">

                @Model.apit.CustomerSiteId
            
            </div>
                </div>
            <div id="inspectiondtl">
              
                        <table id="InspectionDtl">
                            <thead>
                                <tr>
                                    <th class="col-md-3 col-xs-3">Cycle</th>
                                    <th class="col-md-3 col-xs-3">System</th>
                                    <th class="col-md-3 col-xs-3">Next Inspection</th>
                                    <th class="col-md-3 col-xs-3">Last Inspection</th>
                                </tr>
                            </thead>
                            @foreach (var m in (Model.sysinsp))
                            {
                            <tr>
                                <td>
                                    
                                    <div class="col-md-3 col-xs-3">
                                        <input id="inspcycldesc" readonly value="@m.inspcycldesc" />
                                        
                                    </div>
                                </td>

                                <td>
                                    <div class="col-md-3 col-xs-3">
                                        <input id="syscode" readonly value="@m.syscode" />

                                    </div>
                                </td>
                                <td>

                                    <div class="col-md-3 col-xs-3">
                                        <input id="nextinpdate" readonly value="@m.nextinpdate" />

                                    </div>
                                </td>

                                <td>
                                    <div class="col-md-3 col-xs-3">
                                        <input id="lastinpdate" readonly value="@m.lastinpdate" />

                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-3 col-xs-3">
                                        <input id="inspectionid" hidden value="@m.inspectionid" />

                                    </div>
                                </td>
                            </tr>
                            }
            </table>
          
                </div>
        </div>
        <hr />


    </fieldset>
</div>

