@model  TicketsLostPastDue.Models.Ticket
@{
    ViewBag.Title = "Enter Ticket";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
<h2>Enter a Ticket Number then press the Action button</h2>
<div class="row">
  @using (Html.BeginForm("FindTicket", "Home", FormMethod.Post, new { TicketNo = Model }))
  {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.TicketNumber)
                @Html.ValidationMessage("Unsuccessful", "*")
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(model => model.TicketNumber)

            </div>
            <input type="submit" name="LostButton" value="Lost" />
            <input type="submit" name="OOBButton" value="OOB" />
            <input type="submit" name="RefusedButton" value="Refused" />
            <input type="submit" name="DoneButton" value="Done" />
        </fieldset>
    }
    
  @*  @using (Html.BeginForm("Details", "YourControllerName"))
    {
        <input type="hidden" name="EmployeeId" value="@item.EmployeeId" />
        <input type="submit" value="Details" />
    } 
    @*<form id="sbmti
            </fieldset>
        }
        @*<form id="sbmticket">
        <label for="ticketid"></label>
        <input type="text" id="ticketid" />
            <button id="btnsubmit" type="submit" </button>
            </form>*@
</div>