@model TicketsLostPastDue.Models.ViewModelTicketDetail

@{
    ViewBag.Title = "Lost";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style type="text/css">
    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    div.tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    </style>

<div class="container">
   

@using (Html.BeginForm("Lost", "Home", FormMethod.Post , new{ APITicketViewModelTicketDetail = Model}))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        @Html.Partial("TicketDetailWithInspection")
        <div id="inspectiondtl">

            @*<input id="allcheckbox" type="checkbox" name="inspect" value="All" />*@
            <p>Mark the inspections you want to include in the process</p>
            <table id="InspectionDtl">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-md-3 col-xs-3">Cycle</th>
                        <th class="col-md-3 col-xs-3">System</th>
                        <th class="col-md-3 col-xs-3">Next Inspection</th>
                        <th class="col-md-3 col-xs-3">Last Inspection</th>
                    </tr>
                </thead>


                @for (var i = 0; i < Model.sysinsp.Count(); i++)
                {


                    <tr>
                        <td>
                           @Html.HiddenFor(m => m.sysinsp[i].inspectionid)
                             @Html.HiddenFor(m => m.sysinsp[i].syscode)
                            @Html.HiddenFor(m => m.sysinsp[i].nextinpdate)
                            @Html.HiddenFor(m => m.sysinsp[i].lastinpdate)
                            @Html.CheckBoxFor(m => m.sysinsp[i].IsSelected)
                                              
                            @Html.DisplayFor(m => m.sysinsp[i].inspectionid)

                        </td>
                        <td>
                            @Html.DisplayFor(m => m.sysinsp[i].inspcycldesc)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.sysinsp[i].syscode)
                        
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.sysinsp[i].nextinpdate)
                        </td>
                         <td>
                              @Html.DisplayFor(m => m.sysinsp[i].lastinpdate)
                         </td>
                    </tr>
                }

            </table>

        </div>

        <br />
        <br />
  
        <p>inspections</p>
        @Html.EditorFor(model => model.sysinsp)
        <p> ticket</p>
        @Html.EditorFor(model => model.apit)
        <p>competitor list</p>
        @Html.EditorFor(model => model.competitorslist)
      

        @*@Html.EditorFor(model => model.IsEnabled);*@
        @*@Html.HiddenFor(model => model.sysinsp.inspectionid);*@


        <label>Select the competitor that we lost the inspection to:</label>
         @Html.DropDownListFor(m => m.Selectedcompetitor, new SelectList(Model.competitorslist, "Userdef_8_ID", "Userdef_8_Code",0), "Please select a competitor")
        <p>selected competitor</p>
        @Html.EditorFor(model => model.Selectedcompetitor);

        <input type="submit" value="Submit"/>
    </div>
}

</div>
